{% extends 'exerciser/base.html' %}

{% block title %}Exercise!{% endblock %}

{% block style %}
	.brand-heading{
		font-size: 36pt;
	}
{% endblock %}

{% block body_block %}
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center">
				<br/><br/>
				{% if request.session.teacher_group %}
				<strong>You are registered with group id  {{request.session.teacher_group.1}} and teacher id {{request.session.teacher_group.0}}</strong><br/>
				{% endif %}
				<h1>Specify your group</h1>
				<br>
				<form id="group_form" style="margin-top: 10px; margin-right: 5px; padding: 5px; font-size: 14pt; font-weight: bold;">
					Group ID: <input id = "group" type="text" name="GroupName" style="margin: 10px 5px 0 10px; padding: 5px; font-size: 12pt; font-weight: bold;" /><br />
					Teacher ID: <input id = "teacher" type="text" name="TeacherId" style="margin-top: 10px; margin-right: 5px; padding: 5px; font-size: 12pt; font-weight: bold;" /><br />
					<input  id = "submit" type="submit" value="Submit" style="margin-top: 10px; margin-right: 5px; padding: 5px; font-size: 14pt; font-weight: bold;" />
				</form>
				<br>			

				<strong id="success_message"></strong>
			</div>
				
			<div class="col-md-6 text-center">
				<h1 class="brand-heading"><a href="#"><i class="fa fa-info landing-icon fa-lg fa-5x"></i><br><br><span class="landing-text">About Info</span></a></h1>
			</div>
		</div>			
	</div>
{% endblock %}


{% block javascripts %}
	<script type="text/javascript" src="/static/js/cookieAccessor.js"></script>
	<script> 
	
		
		$('#group_form').submit(function(e) {
			e.preventDefault();	
		});
		
		$("#submit").click(function (e){
			var csrftoken = getCookie('csrftoken');
			var teacher = $("#teacher").val();
			var group = $("#group").val();
			console.log(group);
			var request = $.post("/exerciser/register_group_with_session/",
			{
			teacher : teacher,
			group : group,
			csrfmiddlewaretoken : csrftoken
			});
			request.done(function(success) {
				console.log("weird");
				if(success){
					console.log("REG");
					$("#success_message").text("Your details are stored!");
				}
				else{
					console.log("no such group");
					$("#success_message").text("Sorry, but teacher ID " + teacher + " and group ID " + group + " are invalid. Please, try again, or continue anonymously!");
				}
			});
		});
		
		


	</script>
{% endblock %}
